
.app{
  display: flex;
  height: 100vh;
  background-color: bisque;
}

.logo{
 width: 50px;
 height: 50px;
}

.shootbutton{

  position: relative;
  height: 50px;
  width: 65px;
  font-weight: bold;
  left: 10px;
}

.versusPic{
display: block;
margin-left: auto;
margin-right: auto;
width: 50px;
height: 50px;

}